.label {
  color: #115436;
  padding: 10px;
  font-size: 20px;
}
.input {
  width: 30%;
}

@media (max-width: 800px) {
  .label {
    color: black;
    font-size: 16px;
  }
  .input {
    width: 40%;
  }
}
