.ListItem {
  color: rgb(14, 14, 14);
  list-style-type: none;
  margin: 10px 0;
  display: block;
}

.button {
  color: white;
  background-color: #115436;
  padding: 10px;
  margin: 3px;
  border-radius: 15px;
  border: 1px solid #2e8257;
}
.button:hover {
  cursor: pointer;
  background-color: #1eb380;
  box-shadow: 5px 5px #2726267d;
}
@media (max-width: 800px) {
  .ListItem {
    margin: 10px 6px 10px 40px;
  }

  .button {
    background-color: rgb(161, 104, 161);
    border: 1px solid rgb(161, 104, 161);
    padding: 8px;
    font-size: 10px;
  }

  .button:hover {
    background-color: pink;
  }
}
